Repository FIL708/react-ts-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx}": "eslint --fix",
    "**/*.{html,css,ts,js,tsx,ts,json}": "prettier --write",
    "**/*.css": "stylelint --fix"
}

add stylelint
  .lintstagedrc
  .stylelintrc.json
  package-lock.json
  package.json
  src/App.css
  src/index.css
Due: prettier --write, stylelint --fix

add vite plugin
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

add stylelint
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

test stylelint
  src/App.tsx
Due: eslint --fix, prettier --write

add vitest
  package-lock.json
  package.json
  src/App.tsx
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

add aliases
  package-lock.json
  package.json
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write

setup stylelint
  .stylelintrc.json
  package-lock.json
  package.json
  src/App.css
  src/index.css
Due: prettier --write, stylelint --fix
